.chat-main
  .chat-main__header
    .chat-main__header__box
      .left
        %h2.group-about
          = @group.name
        %ul.member-list
          member:
          %li.members
            - @group.users.each do |user|
              .member
                = user.name
      .box__right__edit-btn
        = link_to edit_group_path(@group) do
          Edit

  .messages
    = render @messages
    .message
      .message__info
        %p.message__info__name
          sakura
        %p.message__info__date
          2020/02/17(mon) 12:00:09
      %p.message__text
        こんにちは
    .message
      .message__info
        %p.message__info__name
          miyuki
        %p.message__info__date
          2020/02/18(Wed) 12:05:09
      %p.message__text
        こんにちは

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
